.main {
    position: relative;
    height: 100vh;
    background-color: #1c1e26;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 3.5rem;
  }