.main {
  position: relative;
  min-height: calc(100vh - 3.5rem - 57px);
  background-color: #1c1e26;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer {
  background-color: #1c1e26;
  padding: 1rem;
}

.footer-portfolio-link,
.footer-portfolio-link a {
  color: rgb(255, 255, 255, 0.5);
}
