.login {
    display: grid;
    grid-template-rows: 75px auto 2.5rem 2.5rem;
    justify-items: center;
    grid-gap: 1rem;
    width: 100%;
    max-width: 362px;
    padding: 1rem;
}

.login-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 2rem;
    text-align: center;
}