.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 350px;
    height: 350px;
    padding: 1rem;
    background-color: #fff;
    border-radius: .5rem;
    margin: auto;
}
.log-in-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in-form-title-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.log-in-form-title-text {
    font-weight: 600;
}
.log-in-form-input,
.log-in-form-button {
    outline: none;
    border: none;
    border-radius: .25rem;
}
.log-in-form-input {
    padding: 12px;
    background-color: var(--light-gray);
}
.log-in-form-button {
    padding: 12px;
    background-color: var(--primary-light);
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
}