.menu {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px auto;
    height: 100%;
    overflow-y: hidden;
    width: 362px;
    z-index: 1;
}

@media (max-width: 868px) {
    .menu {
        position: absolute;
        width: 100vw;
    }
}