.toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1c1e26;
}

.toolbar-trash {
    color: rgb(255, 255, 255, 1);;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin-left: .25rem;
    transition: color .2s ease;
    background-color: transparent;
}

.toolbar-trash:hover {
    color: rgb(255, 255, 255, .75);
}